@font-face
{
font-family: anglicanFont;
src: url('../fonts/AnglicanText.ttf'),
     url('../fonts/AnglicanText.eot'); /* IE9 */
} 

html {
}

body{
	color: #000000;
    font-family: "Segoe UI","Segoe UI Web Regular","Segoe UI Symbol","Helvetica Neue","BBAlpha Sans","S60 Sans",Arial,"sans-serif";
    font-size: 88%;
    overflow-y:scroll;
    background:#EEE;
}

h1,h2,h3,h4,h5,h6 {
	font-family: "Segoe UI Web Light","Segoe UI Light","Segoe UI Web Regular","Segoe UI","Segoe UI Symbol","Helvetica Neue",Arial;
	font-weight:lighter;
	color:#444;
}

#head {
    text-align:center;
}

#head-title h1 {
    margin-bottom:5px;
    font-family: "anglicanFont",Arial,"sans-serif";
    font-size:75px;
}

#head-subtitle h3 {
    font-family: "anglicanFont",Arial,"sans-serif";
    font-size:40px;
}

#main-container {
    background:#FFF;
    background:rgba(255,255,255,0.8);
    box-shadow:0 0 30px #222;
    padding:20px;
}

#main-canvas-wrapper {
    text-align:center;
}

#main-canvas-wrapper canvas {
    height:600px;
    width:800px;
    border:4px solid rgba(0,0,0,0.6);
    margin-bottom: 16px;
}

#stats-wrapper {
    text-align:center;
    position:fixed;
    left:20px;
    bottom:20px;
}

#stats-wrapper > div#stats {
    display:inline-block;
    margin-right:10px;
}

#footer {
    padding:10px 0;
    text-align:center;
    color:#888;
}